* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}

img {
  display: block;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
/* !==============================MOBILE========================= */
/* ----------------------header------------------------------ */
.header {
  padding-top: 16px;
  padding-bottom: 16px;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo-black {
  color: #2e2f42;
}

.header-wrap {
}
.header-icon-menu {
}
.header-nav {
  display: flex;
  justify-content: space-between;
}
.header-menu-list {
  display: none;
}

.cover {
}
.header-contacts {
  display: none;
}

/* -------------------------------------------------hero----------------------------------- */
.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 96px 0;
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dpp),
  (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-hero-mob-2x.jpg);
  }
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  margin: 0 auto 72px auto;
  max-width: 216px;
}
.hero-button {
  display: block;
  cursor: pointer;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  margin: 0 auto;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
}

/* -------------------------------------------------------advant------------------- */
.advant {
  background: #fff;
  padding: 96px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advant-menu {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  gap: 72px;
}
.icon-image {
  display: none;
}

.advant-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advant-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ------------------------------------------------------team------------------------------------- */

.section-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.section-team-menu {
  width: 264px;
  display: flex;
  flex-direction: column;
  /* padding-left: 16px;
  padding-right: 16px; */
  gap: 72px;
  margin: 0 auto;
}

.team-discription {
  width: 264px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  padding: 32px 16px;
}
.section-team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-profession {
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.icon-list {
  display: flex;
  gap: 24px;
}
.icon-item {
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
}
.cos-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-icon {
  fill: #fff;
}
/* --------------------------portfolio----------- */

.section-portfolio-title {
  padding: 96px 0;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  /* margin-bottom: 72px; */
}
.section-portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px;
}
.section-portfolio-list {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.portfolio-image {
  width: 288px;
  height: 280px;
}
.portfolio-cover-text {
  display: none;
}
.portfolio-sublist {
  margin: 32px 16px;
  text-align: left;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}
/* --------------------------------footer-------------------- */
.section-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-wrap-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin: 0 auto;
}
.footer-logo-white {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
}
.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-bottom: 72px;
  margin-top: 16px;
}
.footer-cos-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 72px auto;
  color: #fff;
}
.footer-icon-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 16px;
}
.footer-icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-icon-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.footer-icon-icon {
  fill: #f4f4fd;
  text-align: center;
}
.footer-input-wrap {
  min-width: 288px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-input-label {
  display: block;

  font-weight: 500;
  letter-spacing: 0.02em;
  color: #fff;
}
.footer-name {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  background-color: #2e2f42;
  letter-spacing: 0.04em;
  color: #fff;
}
.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 0 auto;
}

.footer-input-email {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  padding: 8px 24px;
  background-color: #4d5ae5;
  width: 165px;
  border: none;
  color: #fff;
}
.footer-btn-image {
  fill: #fff;
}

/*!===================================TABLET===================*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /* ------------------------------------------------hero--------------------- */
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-hero-tab.jpg);
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dpp),
    (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-hero-tab-2x.jpg);
    }
  }
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
  /* --------------------------------------------advant------------------ */
  .advant-menu {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .advant-menu-list {
    flex-basis: calc((100% - 24px) / 2);
  }
  .advant-subtitle {
    text-align: left;
  }
  /* -----------------------------team----------------- */
  .section-team-menu {
    width: 584px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    text-align: center;
  }
  .section-team-list {
    flex-basis: calc((100% - 24px) / 2);
  }
  /* ---------------------------portfolio--------------- */

  .section-portfolio-menu {
    width: 768px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .section-portfolio-list {
    flex-basis: calc ((100% - 24px) / 2);
  }

  .portfolio-image {
    width: 356px;
    height: 300px;
  }
  /* -------------------------------------footer---------------- */

  .footer-cos-link {
    margin: 0;
    padding: 0;
  }
  .footer-wrap-logo {
    width: 264px;
    height: 112px;
  }
  footer-cos-link {
    width: 208px;
  }
}

/* !================================DECKTOP============================ */
@media screen and (min-width: 1158px) {
  .container {
    min-width: 1158px;

    /* padding: 120px 15px; */
    padding: 0 15px;
  }
  /* ------------------------------hero---------------------- */
  .hero {
    padding: 188px auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-hero-dt.jpg);
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dpp),
    (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-hero-dt-2x.jpg);
    }
  }
  .hero-title {
    margin: 0 auto 48px auto;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }

  /* ------------------------------------------------advant---------------------------------- */

  .advant-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
    padding: 120px 0;
  }

  .advant-menu-list {
    flex-basis: calc((100%- 72px) / 4);
  }
  .icon-image {
    display: flex;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    /* padding: 32px 0; */
  }
  .advant-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .advant-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  /* ---------------------------------------team--------------------- */

  .section-team-menu {
    padding: 120px 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }
  .icon-item {
    flex-basis: calc(100%-24px * 3) / 4;
  }
  .icon-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    margin: 0 auto;
  }
  /* --------------------portfolio-------------- */
  .section-portfolio {
    padding: 120px 0;
  }
  .section-portfolio-menu {
    width: 1128px;
    gap: 48px 24px;
  }
  .section-portfolio-list {
    flex-basis: calc ((100% - 24px * 2) / 3);
  }
  .portfolio-image {
    width: 360px;
    height: 300px;
  }
  .wrap-cover {
    position: relative;
    overflow: hidden;
    transition: translateY(100%);
  }

  .portfolio-cover-text {
    display: block;
    padding: 40px 32px;
    position: absolute;
    font-size: 16px;
    top: 0;
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 100%;
  }

  .wrap-cover:hover .portfolio-cover-text {
    transform: translateY(0);
  }
}
